In [1]:
#A database is an organized collection of structured information, or data, typically stored electronically in a computer system.
#A database is usually controlled by a database management system (DBMS).

In [2]:
# # SQL databases are primarily called Relational Databases (RDBMS); 
# # whereas NoSQL databases are primarily called non-relational or distributed databases.

# The five critical differences between SQL and NoSQL are:

# SQL databases are relational, and NoSQL databases are non-relational.
# SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
# SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
# SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
# SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

In [3]:
# Data Definition Language (DDL) is used to create and modify the structure of objects in a database using predefined commands and a specific syntax. 
# These database objects include tables, sequences, locations, aliases, schemas and indexes.

In [4]:
#The CREATE TABLE command creates a new table in the database.

#The DROP TABLE command deletes a table in the database.

#The ALTER TABLE command adds, deletes, or modifies columns in a table.

#The ALTER TABLE command also adds and deletes various constraints in a table.

#The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

In [6]:
# # A DML (data manipulation language) refers to a computer programming language that allows you to add (insert), 
# delete (delete), and alter (update) data in a database. A DML is typically a sublanguage of a larger 
# database language like SQL, with the DML containing some of the language's operators.

In [7]:
# Using the INSERT DML command, you can add rows to a table that exists in your database.

In [ ]:
# Use the UPDATE statement to change data values in one or more columns, usually based on specific criteria.

# Delete is a DML or Data Manipulation Command that is used to delete particular records from a table.

In [8]:
# Query languages, often known as DQLs or Data Query Languages, are computer languages
# that are used to make various queries in information systems and databases.

In [ ]:
# The most common and important DQL command is the SELECT statement.
# The SELECT statement allows you to specify the columns and expressions that you want to display in the result set

In [ ]:
# Primary keys serve as unique identifiers for each row in a database table.
# Foreign keys link data in one table to the data in another table.

In [2]:
# import mysql.connector

# mydb= mysql.connector.connect(
# host="localhost"
# user="abc"
# password="password"
# )

# mycursor=mydb.cursor()

# mycursor.execute("SHOW DATABASE")

# for x in mycursor:
#    print(x)

In [3]:
# Cursor Method

#class cursor. Allows Python code to execute PostgreSQL command in a database session. 
#Cursors are created by the connection. cursor() method: they are bound to the connection for the entire lifetime and all 
#the commands are executed in the context of the database session wrapped by the connection.

In [ ]:
# Execute Method

# execute() function retrieves rows from the select query on a dataset. The cursor. fetchone() function
# iterates over the result set returned by cursor. execute() 
# while the print() function prints out all records from the table to the console.

In [ ]:
# The order in which the clauses in queries are executed is as follows.
# FROM/JOIN. The FROM and/or JOIN clauses are executed first to determine the data of interest.
# WHERE. The WHERE clause is executed to filter out records that do not meet the constraints.
# GROUP BY. ...
# HAVING. ...
# SELECT. ...
# ORDER BY. ...
# LIMIT/OFFSET.